<form>
	<div class="row">
		<div class="large-6 columns">
			<label>Name
				<input type="text" name="name">
			</label>
		</div>

		<div class="large-6 columns">
			<label>Description
				<textarea name="description"></textarea>
			</label>
		</div>

		<div class="large-6 columns">
			<label>URL
				<input type="text" name="url" placeholder="e.g http://www.example.com">
			</label>
		</div>

		<div class="large-6 columns">
			<label>Tags
				<input type="text" name="url" placeholder="e.g tag1, tag2, tag3">
			</label>
		</div>
	</div>
</form>