<form>
	<div class="row">
		<div class="large-6 columns">
			<label>Name
				<input type="text" data-ng-model="resource.name">
			</label>

			<label>Description
				<textarea data-ng-model="resource.description"></textarea>
			</label>

			<label>URL
				<input type="text" data-ng-model="resource.url" placeholder="e.g http://www.example.com">
			</label>

			
		</div>
		
		<div class="large-6 columns">
			<label>Tags
				<input type="text" data-ng-model="resource.tags" placeholder="e.g tag1, tag2, tag3">
			</label>

			<label>Licence
				<select data-ng-model="resource.licence_id" data-ng-options="l.data.id as l.data.licence_type for l in licences">
					<option value="">-- Choose Licence --</option>
				</select>
			</label>

			<label>Resourcetype
				<select data-ng-model="resource.resource_type_id" data-ng-options="r.data.id as r.data.resource_type for r in resourceTypes">
					<option value="">-- Choose Resourcetype --</option>
				</select>
			</label>
		</div>

		<button class="button expand" data-ng-click="save()">Save Resource</button>
	</div>
</form>