<div data-toerh-load-more="next()" class="row" data-ng-init="search = {}">
	<div class="large-4 columns">
		<select data-ng-change="search = {}" data-ng-model="searchType" ng-init="searchType = 'data'">
			<option value="data">Name</option>
			<option value="licence">Licence</option>
			<option value="resource_type">Resourcetype</option>
			<option value="user">User</option>
			<option value="tags">Tag</option>
		</select>
	</div>

	<div class="large-8 columns">
		<input type="text" data-ng-model="search[searchType]" placeholder="Start typing to filter resources by given type">
	</div>
	
	<p>{{resourceMessage}}</p>

	<div class="small-12 medium-6 large-12 columns resource-box" data-ng-repeat="resource in resources | filter:search:false">
		<div class="resource">
			<h2>{{resource.data.name}}</h2>
			<p>Created: {{resource.data.created_at | date:'longDate'}}</p>
			<div class="large-6 columns">
				<p>Created by: {{resource.user.firstname}} {{resource.user.surname}}</p>
				<p>URL: <a href="{{resource.data.url}}">{{resource.data.url}}</a></p>	
			</div>			
			<div class="large-6 columns">
				<p>Resourcetype: {{resource.resource_type.resource_type}}</p>	
				<p>Licence: {{resource.licence.licence}}</p>	
			</div>
			
			<h3>Description</h3>
			<p>{{resource.data.description}}</p>
			<p data-ng-repeat="tag in respurce.data.tags">{{tag.tag}}</p>

			<div data-ng-if="user">
				<a href="" class="button" data-ng-click="removeResource(resource.data.id)">Remove</a>
				<a href="" class="button" data-ng-href="#resources/edit/{{resource.data.id}}">Edit</a>
			</div>
		</div>
	</div>

	<p>{{loading}}</p>
</div>
